services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    env_file:
      - .env.local
    ports:
      - "8000:8000"
    volumes:
      - ./:/app:delegated
      - monero-wallet-data:/wallet
    restart: unless-stopped

volumes:
  monero-wallet-data:
