fastapi
uvicorn
git+https://github.com/scrtlabs/secret-sdk-python.git
aiofiles
python-dotenv
schedule
aiohttp
httpx
requests
setuptools
secp256k1
apscheduler
asn1crypto
cryptography
ecdsa
git+https://github.com/ZeroPass/pymrtd.git@master#egg=pymrtd
monero
pytest